.change-password-modal {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    width: 45%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button {
    background-color: #FF6F61;
    color: #fff;
}

.close-button:hover {
    background-color: #ff4a3d;
}

.change-password-button {
    background-color: #66BB6A;
    color: #fff;
}

.change-password-button:hover {
    background-color: #489b3d;
}