<div class="container">
    <!-- <span>Mentor Specfic</span> -->
    <app-dashboard></app-dashboard>
  
      <!-- <div style="display:flex ; flex-direction: row; align-items: baseline;   ">
        <input type="text" style="border-radius: 20px; border-width:2px;  height: 30px; width: 200px;" class="form-control py-2 k"
          [(ngModel)]="searchText" placeholder="Search Candidates" (input)="onSearchTextChange()" />
        <div>
          <button class="btn btn-outline-secondary border-left-0 buttons"
            style="height: 30px; width: 70px; margin-left: 10px;" (click)="clearSearch()">
            <i class="fas fa-times"></i> Clear
          </button>
        </div> -->
    <!-- </div> --> 
  
    <div style="">
  
      <table class="table">
        <thead  class = "sticky-row ">
          <tr >
            <th><div class= "headerDiv">BaseLine Date </div></th>
            <th><div class= "headerDiv">Emp Id</div></th>
            <th><div class= "headerDiv">Emp Name</div></th>
            <th class="sticky-column"><div class= "headerDiv">E-mail</div></th>
            <th><div class= "headerDiv">Local Grade</div></th>
            <th><div class= "headerDiv">Current Day Status</div></th>
            <th><div class= "headerDiv">Main Project</div></th>
            <th><div class= "headerDiv">Account Name</div></th>
            <th><div class= "headerDiv">Training Batch Id</div></th>
            <th><div class= "headerDiv">Mentor Name</div></th>
            <th><div class= "headerDiv">Training Score Feedback</div></th>
            <th><div class= "headerDiv">Bucket</div></th>
            <th><div class= "headerDiv">Qualitative Feedback</div></th>
            <th><div class= "headerDiv">Ocean Attempted Till Date</div></th>
            <th><div class= "headerDiv">Ocean Score If Attempted</div></th>
            <th><div class= "headerDiv">HS Certification Done</div></th>
            <th><div class= "headerDiv">Digi Dashboard Updated Regularly</div></th>
            <th><div class= "headerDiv">Account Shadows Done</div></th>
            <th><div class= "headerDiv">Current Status</div></th>
            <th><div class= "headerDiv">Upskilling While On Bench</div></th>
            <th><div class= "headerDiv">Current Initiative Involved In</div></th>
            <th><div class= "headerDiv">Work Done Last 3 Months</div></th>
            <th><div class= "headerDiv">Person Reachable</div></th>
            <th><div class= "headerDiv">PSC Remarks</div></th>
            <th><div class= "headerDiv">BTO (Average for Q3) Attendance</div></th>
            <th><div class= "headerDiv">Sapience Avg for Last 3 Months</div></th>
            <th><div class= "headerDiv">Leave Balance</div></th>
            <th><div class= "headerDiv">Leaves Applied in Last 3 Months</div></th>
            <th><div class= "headerDiv">BOTP Status</div></th>
            <th><div class= "headerDiv">Sub-Status</div></th>
            <th><div class= "headerDiv">College</div></th>
            <th><div class= "headerDiv">College Type</div></th>
            <th><div class= "headerDiv">Education</div></th>
            <th><div class= "headerDiv">Recruitment Swar Score</div></th>
            <th><div class= "headerDiv">Recruitment Aptitude Score</div></th>
            <th><div class= "headerDiv">Recruitment Coding Score</div></th>
            <th><div class= "headerDiv">Action</div></th>
          </tr>
        </thead>
        <tbody>
          
            <td>
              <span  >{{searchservice.filteredCandidates.baselineDate |
                date:'dd/MM/yyyy'}}</span>
              <!-- <input *ngIf="candidate.isEdit" name="baselineDate" id="baselineDate" [(ngModel)]="candidate.baselineDate"> -->
            </td>
            <td>
              <span >{{searchservice.filteredCandidates.empId}}</span>
              <!-- <input *ngIf="candidate.isEdit" name="empId" id="empId" [(ngModel)]="candidate.empId"> -->
            </td>
  
            <td>
              <span  >{{searchservice.filteredCandidates.employeeName}}</span>
              <!-- <input *ngIf="candidate.isEdit" name="employeeName" id="employeeName" [(ngModel)]="candidate.employeeName"> -->
            </td>
            <td class="sticky-column">
              <span>{{searchservice.filteredCandidates.email}}</span>
              <!-- <input *ngIf="candidate.isEdit" name="email" id="email" [(ngModel)]="candidate.email"> -->
              <button *ngIf="searchservice.filteredCandidates.isEdit" type="submit" (click)="save(searchservice.filteredCandidates)" class="buttons">Save</button>
            </td>
            <td>
              <span>{{searchservice.filteredCandidates.localGrade}}</span>
              <!-- <input *ngIf="candidate.isEdit" name="localGrade" id="localGrade" [(ngModel)]="candidate.localGrade"> -->
            </td>
  
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.currentDayStatus}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="currentDayStatus" id="currentDayStatus"
                [(ngModel)]="searchservice.filteredCandidates.currentDayStatus">
            </td>
  
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.mainProject}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="mainProject" id="mainProject" [(ngModel)]="searchservice.filteredCandidates.mainProject">
            </td>
  
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.accountName}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="accountName" id="accountName" [(ngModel)]="searchservice.filteredCandidates.accountName">
            </td>
  
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.trainingBatchId}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="trainingBatchId" id="trainingBatchId"
                [(ngModel)]="searchservice.filteredCandidates.trainingBatchId">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.mentorName}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="mentorName" id="mentorName" [(ngModel)]="searchservice.filteredCandidates.mentorName">
            </td>
  
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.trainingScoreFeedback}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="trainingScoreFeedback" id="trainingScoreFeedback"
                [(ngModel)]="searchservice.filteredCandidates.trainingScoreFeedback">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.bucket}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="bucket" id="bucket" [(ngModel)]="searchservice.filteredCandidates.bucket">
            </td>
            <td>
              <div style="width: 350px;
                overflow: auto;
                white-space: nowrap;">
                <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.qualitativeFeedback}}</span>
                <input *ngIf="searchservice.filteredCandidates.isEdit" name="qualitativeFeedback" id="qualitativeFeedback"
                  [(ngModel)]="searchservice.filteredCandidates.qualitativeFeedback">
              </div>
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)"
                *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.oceanAttemptedTillDate}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="oceanAttemptedTillDate" id="oceanAttemptedTillDate"
                [(ngModel)]="searchservice.filteredCandidates.oceanAttemptedTillDate">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.oceanScoreIfAttempted}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="oceanScoreIfAttempted" id="oceanScoreIfAttempted"
                [(ngModel)]="searchservice.filteredCandidates.oceanScoreIfAttempted">
            </td>
  
  
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.hsCertificationDone}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="hsCertificationDone" id="hsCertificationDone"
                [(ngModel)]="searchservice.filteredCandidates.hsCertificationDone">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.digiDashboardUpdatedRegularly
                | date:'dd/MM/yyyy'}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="digiDashboardUpdatedRegularly" id="digiDashboardUpdatedRegularly"
                [(ngModel)]="searchservice.filteredCandidates.digiDashboardUpdatedRegularly">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.accountShadowsDone}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="accountShadowsDone" id="accountShadowsDone"
                [(ngModel)]="searchservice.filteredCandidates.accountShadowsDone">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.currentStatus}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="currentStatus" id="currentStatus"
                [(ngModel)]="searchservice.filteredCandidates.currentStatus">
            </td>
            <td style=" ">
              <div style="width: 350px;
                  overflow: auto;
                  white-space: nowrap;">
                <span (click)="makeEditable(searchservice.filteredCandidates)"
                  *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.upskillingWhileOnBench}}</span>
                <input *ngIf="searchservice.filteredCandidates.isEdit" name="upskillingWhileOnBench" id="upskillingWhileOnBench"
                  [(ngModel)]="searchservice.filteredCandidates.upskillingWhileOnBench">
              </div>
            </td>
            <td>
              <div style="width: 350px;
                  overflow: auto;
                  white-space: nowrap;">
                <span (click)="makeEditable(searchservice.filteredCandidates)"
                  *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.currentInitiativeInvolvedIn}}</span>
                <input *ngIf="searchservice.filteredCandidates.isEdit" name="currentInitiativeInvolvedIn" id="currentInitiativeInvolvedIn"
                  [(ngModel)]="searchservice.filteredCandidates.currentInitiativeInvolvedIn">
              </div>
            </td>
            <td>
              <div style="width: 350px;
                  overflow: auto;
                  white-space: nowrap;">
                <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.workDoneLast3Months}}</span>
                <input *ngIf="searchservice.filteredCandidates.isEdit" name="workDoneLast3Months" id="workDoneLast3Months"
                  [(ngModel)]="searchservice.filteredCandidates.workDoneLast3Months">
              </div>
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.personReachable}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="personReachable" id="personReachable"
                [(ngModel)]="searchservice.filteredCandidates.personReachable">
            </td>
            <td style="">
              <div style="width: 350px;
                 overflow: auto;
                 white-space: nowrap;
                  
                 ">
                <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.pscRemarks}}</span>
                <input *ngIf="searchservice.filteredCandidates.isEdit" name="pscRemarks" id="pscRemarks" [(ngModel)]="searchservice.filteredCandidates.pscRemarks">
              </div>
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)"
                *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.btoAverageQ3Attendance}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="btoAverageQ3Attendance" id="btoAverageQ3Attendance"
                [(ngModel)]="searchservice.filteredCandidates.btoAverageQ3Attendance">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)"
                *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.sapienceAvgLast3Months}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="sapienceAvgLast3Months" id="sapienceAvgLast3Months"
                [(ngModel)]="searchservice.filteredCandidates.sapienceAvgLast3Months">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.leaveBalance}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="leaveBalance" id="leaveBalance" [(ngModel)]="searchservice.filteredCandidates.leaveBalance">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)"
                *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.leaveAppliedLast3Months}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="leaveAppliedLast3Months" id="leaveAppliedLast3Months"
                [(ngModel)]="searchservice.filteredCandidates.leaveAppliedLast3Months">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.botpStatus}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="botpStatus" id="botpStatus" [(ngModel)]="searchservice.filteredCandidates.botpStatus">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.subStatus}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="subStatus" id="subStatus" [(ngModel)]="searchservice.filteredCandidates.subStatus">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.college}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="college" id="college" [(ngModel)]="searchservice.filteredCandidates.college">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.collegeType}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="collegeType" id="collegeType" [(ngModel)]="searchservice.filteredCandidates.collegeType">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.education}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="education" id="education" [(ngModel)]="searchservice.filteredCandidates.education">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)" *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.recruitmentSwarScore}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="recruitmentSwarScore" id="recruitmentSwarScore"
                [(ngModel)]="searchservice.filteredCandidates.recruitmentSwarScore">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)"
                *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.recruitmentAptitudeScore}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="recruitmentAptitudeScore" id="recruitmentAptitudeScore"
                [(ngModel)]="searchservice.filteredCandidates.recruitmentAptitudeScore">
            </td>
            <td>
              <span (click)="makeEditable(searchservice.filteredCandidates)"
                *ngIf="!searchservice.filteredCandidates.isEdit">{{searchservice.filteredCandidates.recruitmentCodingScore}}</span>
              <input *ngIf="searchservice.filteredCandidates.isEdit" name="recruitmentCodingScore" id="recruitmentCodingScore"
                [(ngModel)]="searchservice.filteredCandidates.recruitmentCodingScore">
            </td>
            <td>
              <button id="delete" (click)="deleteCandidate(searchservice.filteredCandidates)" class="buttons">Delete</button>
            </td>
  
        </tbody>
      </table>
    </div>
  </div>